
<!-- this is the main navbar -->
<nav class="navbar navbar-top" id="navbar-top-id">  
  <div class="container">
    <ul>
      <li class="top navbar-item">Cars</li>
      <li class="top navbar-item">Prestige cars</li>
      <li class="top navbar-item">Vans</li>
      <li class="top navbar-item">Bikes</li>
      <li class="top navbar-item">Motorhomes</li>
      <li class="top navbar-item">Caravans</li>
      <li class="top navbar-item">Trucks</li>
      <li class="top navbar-item">Farm</li>
      <li class="top navbar-item border-right">Plant</li>
      <li class="top navbar-item padding-left">Safety & Security Advice</li>
    </ul>
  </div>
  </nav>
  
  <!-- this is the sticky menu -->
  <div class="navbar navbar-bottom" id="navbar-bottom-id"
    #stickyNavbar
    [class.sticky] = "sticky">
    <div class="container">
    <div class="navbar-brand">
        <ul>
        <li><span class="AutoTraderImg"><img src="./assets/AutoTrader.PNG"></span></li>
        <li class="bottom navbar-item border-right padding-left">Buying new & used</li>
        <li class="bottom navbar-item border-right padding-left">Sell your car</li>
        <li class="bottom navbar-item border-right padding-left">Value your car</li>
        <li class="bottom navbar-item border-right padding-left">Car reviews</li>
        <li class="bottom navbar-item padding-left">Finance, insurance & more</li>
      </ul>
  </div>
    <div class="navbar-end">
        <ul>
            <i class="material-icons saved-icon">
                save
                </i>
            <li class="navbar-item saved">Saved</li>
            <i class="material-icons sign-in-icon  padding-right">
                perm_identity
                </i>
            <li class="navbar-item sign-in  padding-right">Sign in</li>
          <li class="navbar-item sell">Sell my car</li>
        </ul>
    </div>
  </div>
</div>

