<div class="container-fluid">
    <div class="container">
    <table class="table">
        <tr>
            <th>Auto Trader Group</th>
            <th>Products & services</th>
            <th>Quick search</th>
        </tr>
        <tr>
            <td>Contact us</td>
            <td>Car valuations</td>
            <td>All makes and models</td>
        </tr>
        <tr>
            <td>About Auto Trader</td>
            <td>Sell my car</td>
            <td>All UK locations</td>
        </tr>
        <tr>
            <td>Careers</td>
            <td>Vehicle Check</td>
            <td>Find a car dealer</td>
        </tr>
        <tr>
            <td>Investor information</td>
            <td>Car finance</td>
            <td>Classic cars</td>
        </tr>
        <tr>
            <td>Car finance</td>
            <td>Privacy policies and terms</td>
            <td>Finance deals</td>
        </tr>
        <tr>
            <td>Advertising terms & conditions</td>
            <td>GAP insurance</td>
            <td>Cheap cars</td>
        </tr>
        <tr>
            <td>Display advertising</td>
            <td>Private plates</td>
            <td>New car deals</td>
        </tr>
        <tr>
            <td>Autotrader.ie</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Carzone.ie</td>
            <td class="white">Buying Advice</td>
            <td class="white">Auto trader for dealers</td>
        </tr>
        <tr>
            <td>Manage cookies</td>
            <td>Owner reviews</td>
            <td>Dealer portal</td>
        </tr>
        <tr>
            <td></td>
            <td>Buying & selling guides</td>
            <td>Advertising packages</td>            
        </tr>
        <tr>
            <td></td>
            <td>Retailer awards</td>
            <td>Pay As You Go</td>            
        </tr>
        <tr>
            <td></td>
            <td>New car awards</td>
            <td></td>            
        </tr>
    </table>
    <td><img id="bottomnavbarmenu" src="./assets/BottomNavbarMenu.PNG"></td>
</div>
</div>
